h1 {
    color: #2f4f4f;
    font-family: 'Arial', sans-serif;
    font-size: 36px;   
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}