.box-1 {
  background: #e0e0e0;
  margin: 30px;
}

.box-2 {
  background: #c0eaff;
  padding: 30px;
}

.box-3 {
    background: #ffe0e0; 
    margin: 20px; 
    padding: 20px"
}

.box-3 {
    margin: 10px 5px 30px 15px;
    /*      12hr 15hr 18hr 21hr */
}