* {
    box-sizing: content-box;
}

.box-1 {
  display: flex;
  gap: 24px "
}

.box-2 {
  box-sizing: content-box;
  width: 200px;
  padding: 20px;
  border: 5px solid #0074d9;
  background: #eaf6ff;    
}

.box-3 {  
  box-sizing: border-box;
  width: 200px;
  padding: 20px;
  border: 5px solid #2ecc40;
  background: #eaffea;
}

.box-4 {
    width: 100px;
    height: 100px;
    background: #0074d9;
    padding: 20px;
    border: 10px solid #2ecc40;
    color: #ffffff;
    text-align: center;
